.upgrade-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: darkblue;
  margin-bottom: 5px;
  text-align: center;
}
.upgrade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
  background-color: #f9f0f0;
}

.upgrade-container img {
  display: block;
  margin: 10px;
}

.upgrade-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.upgrade-increase {
  color: peru;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 600px) {
  .upgrade-container {
    max-width: 150px;
  }
  .upgrade-container img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
}

@media (min-width: 600px) {
  .upgrades-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .upgrade-container {
    flex-direction: column;
    max-width: 300px;
  }
}
